In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [5]:
train_X = pd.read_csv("soltrainX.csv")
train_y = pd.read_csv("soltrainY.csv")
train_X_trans = pd.read_csv("soltrainXtrans.csv")
test_X = pd.read_csv("soltestX.csv")
test_y = pd.read_csv("soltestY.csv")
test_X_trans = pd.read_csv("soltestXtrans.csv")

In [6]:
print("shape of train_X:", train_X.shape)
train_X.head()

shape of train_X: (951, 229)

,Unnamed: 0,FP001,FP002,FP003,FP004,FP005,FP006,FP007,FP008,FP009,...,NumCarbon,NumNitrogen,NumOxygen,NumSulfer,NumChlorine,NumHalogen,NumRings,HydrophilicFactor,SurfaceArea1,SurfaceArea2
0,661,0,1,0,0,1,0,0,1,0,...,14,2,0,0,0,0,3,-0.856,25.78,25.78
1,662,0,1,0,1,1,1,1,1,0,...,21,3,1,1,0,0,4,-0.370,52.19,80.43
2,663,1,1,1,1,1,0,0,1,0,...,13,0,2,0,0,0,1,-0.330,37.30,37.30
3,665,0,0,1,0,0,0,1,0,0,...,10,0,0,0,0,0,1,-0.960,0.00,0.00
4,668,0,0,1,1,1,1,0,0,1,...,9,5,0,0,1,1,1,-0.069,53.94,53.94